:root {
    --primary: #045772;
    --datepicker-height: 215px;
    --anim-dura: .25s;
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Привычные общие стили                                 */
/*                                                                  */
/*                                                                  */
/*                                                                  */
.p-0 {
    padding: 0 !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}
.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}
.col-1-of-7 {
    -ms-flex: 0 0 calc(100% / 7);
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Перевёрстка стилей от вк                              */
/*                                                                  */
/*                                                                  */
/*                                                                  */
.Panel__in {
    background-color: #fff !important;
}

.PanelHeader {
    background-color: var(--primary);
    color: #fff !important;
}

.PanelHeader-content,
.PanelHeaderButton {
    color: #fff !important;
}

.Panel__in-before {
    height: 0 !important;
}

.Avatar__img {
    border: 1px solid #aaa;
}
.Button[disabled] {
    opacity: 1 !important;
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Diary                                                 */
/*                                                                  */
/*                                                                  */
/*                                                                  */

.diary__header {
    background-color: var(--primary);
    color: #fff;
    height: 48px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    padding-top: 56px;
}

.diary__header-month {
    padding: 15px 0 0 15px;
}

.diary__header-year {
    padding: 17px 0 0 10px;
    font-size: 12px;
    color: #a5a5a5;
}

.diary__header-btn {
    background-color: transparent;
    padding: 5px 12px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Datepicker                                            */
/*                                                                  */
/*                                                                  */
/*                                                                  */

.diary__month-wrapper {
    position: fixed;
    top: 104px;
    background-color: var(--primary);
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #a8a8a8;
    z-index: 10;
}
.diary__month {
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px calc(100% / 9) 10px;
    height: var(--datepicker-height);
    transition: height var(--anim-dura) ease;
}
.diary__month.diary__month_collapsed {
    height: 40px;
}

.diary__change-week-btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: transparent;
    padding: 5px 0;
    text-align: center;
    width: 32px;
    color: var(--primary);
}

.diary__weekdays {
    position: absolute;
    top: 17px;
    width: calc(100% * 7 / 9);
    left: calc(100% / 9);
    z-index: 11;
}
.diary__weekday {
    font-size: 12px;
    color: #787878;
    z-index: 10;
    transition: color var(--anim-dura) ease;
}
.diary__month.diary__month_collapsed .diary__weekday_active {
    color: #cdcdcd;
}
.diary__month .diary__weekday_active::before {
    content: "";
    width: 100%;
    height: 150px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 20px;
    opacity: 1;
    transition: all var(--anim-dura) ease;
}
.diary__month .diary__weekday_active::after {
    content: "";
    width: 100%;
    height: 150px;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 40px;
    opacity: 1;
    transition: all var(--anim-dura) ease;
}
.diary__month:not(.diary__month_collapsed) .diary__weekday_active::before,
.diary__month:not(.diary__month_collapsed) .diary__weekday_active::after {
    height: 0;
    opacity: 0;
    transition: all var(--anim-dura) ease;
}
.diary__month:not(.diary__month_collapsed) .diary__weekday_active::before {
    bottom: 500px;
}
.diary__month:not(.diary__month_collapsed) .diary__weekday_active::after {
    top: 500px;
}

.datepicker {
    position: absolute;
    top: 35px;
    width: calc(100% * 7 / 9);
    left: calc(100% / 9);
    height: calc(var(--datepicker-height) - 15px);
    transition: top var(--anim-dura) ease;
}
.diary__month.diary__month_collapsed .datepicker {
    top: calc(19px - var(--chosen-week) * 33.25px);
}
.datepicker__day-wrapper {
    height: 30px;
}
.datepicker__day {
    font-size: 13px;
    color: #000;
    width: 32px;
    max-width: 32px;
    min-width: 32px;
    margin: 9px auto;
    padding: 4px 0;
    border-radius: 8px;
    position: relative;
    z-index: 10;
}
.datepicker__day::before {
    content: "";
    background-color: transparent;
    width: 100%;
    height: calc(100% + 16px);
    top: -15px;
    left: 0;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
    transition: height var(--anim-dura) ease, top var(--anim-dura) ease;
}
.datepicker__day_active {
    color: #fff;
}
.datepicker__day_active::before {
    background-color: var(--primary);
}

.diary__month:not(.diary__month_collapsed) .datepicker__day_active::before {
    top: 0;
    height: 100%;
}
/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Блок Lessons                                          */
/*                                                                  */
/*                                                                  */
/*                                                                  */
.diary__lessons {
    margin-top: 114px;
    transition: margin-top var(--anim-dura) ease;
}
.diary__lessons_showndatepicker {
    margin-top: calc(114px - 40px + var(--datepicker-height));
}

.diary__lessons-title {
    font-size: 12px;
    color: #787878;
    display: inline-block;
    position: relative;
    margin-left: 90px;
    padding: 12px 0;
}
.diary__lessons-title::before {
    content: "";
    width: 3px;
    height: 30px;
    position: absolute;
    background-color: var(--primary);
    display: inline-block;
    left: -75px;
}
.lesson__timeline {
    width: 3px;
    background-color: var(--primary);
    display: block;
    margin-left: 15px;
    position: relative;
}
.lesson__timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -7.5px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
}
.lesson__timeline::after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    top: 3.5px;
    left: -4px;
    background-color: #fff;
    z-index: 2;
}
.lesson__times {
    margin: 10px 0;
    text-align: center;
}
.lesson__start {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
}
.lesson__end {
    margin: 0 10px;
    color: #787878;
    font-size: 12px;
    font-weight: 600;
}
.lesson__number {
    font-size: 40px;
    color: #787878;
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Карточки уроков                                       */
/*                                                                  */
/*                                                                  */
/*                                                                  */
.lesson__card {
    background-color: #e9f0f5;
    margin: 0 10px 10px 0;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            УДАЛИТЬ ПОТОМ !!!                                     */
/*                                                                  */
/*                                                                  */
/*                                                                  */
.xxx {
    position: fixed;
    height: 1px;
    background-color: #f00;
    width: 100vw;
    left: 0;
    top: 139px;
    display: block;
    z-index: 1000;
}
