:root {
    --primary: #045772;
    --datepicker-height: 240px;
    --anim-dura: 0.25s;
    --mark1: #ffb6c1;
    --mark2: #ffb6c1;
    --mark3: #f0e68c;
    --mark4: #87ceeb;
    --mark5: #98fb98;
    --markH: #d3d3d3;
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Привычные общие стили                                 */
/*                                                                  */
/*                                                                  */
/*                                                                  */
.p-0 {
    padding: 0 !important;
}
.d-inline-block {
    display: inline-block !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}
.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.flex-grow-1 {
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
}
.ml-auto {
    margin-left: auto !important;
}
.mr-auto {
    margin-right: auto !important;
}
.col-1-of-7 {
    -ms-flex: 0 0 calc(100% / 7);
    flex: 0 0 calc(100% / 7);
    max-width: calc(100% / 7);
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Перевёрстка стилей от вк                              */
/*                                                                  */
/*                                                                  */
/*                                                                  */
.Panel__in {
    background-color: #fff !important;
}

.PanelHeader {
    background-color: var(--primary);
    color: #fff !important;
}

.PanelHeader-content,
.PanelHeaderButton {
    color: #fff !important;
}

.Panel__in-before {
    height: 0 !important;
}

.Avatar__img {
    border: 1px solid #aaa;
}
.Button[disabled] {
    opacity: 1 !important;
}
.Button.Tappable--active {
    opacity: 1 !important;
}
.Spinner {
    color: var(--primary);
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Diary                                                 */
/*                                                                  */
/*                                                                  */
/*                                                                  */

.diary__header {
    background-color: var(--primary);
    color: #fff;
    height: 48px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 10;
    padding-top: 56px;
}

.diary__header-month {
    padding: 15px 0 0 15px;
}

.diary__header-year {
    padding: 17px 0 0 10px;
    font-size: 12px;
    color: #a5a5a5;
}

.diary__header-btn {
    background-color: transparent;
    padding: 5px 12px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.diary__header-btn-calendar {
    animation: icon-btn-appear1 var(--anim-dura) ease 1;
}
.diary__header-btn-cancel {
    padding-right: 14px;
    animation: icon-btn-appear2 var(--anim-dura) ease 1;
}
@keyframes icon-btn-appear1 {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes icon-btn-appear2 {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Datepicker                                            */
/*                                                                  */
/*                                                                  */
/*                                                                  */

.diary__month-wrapper {
    position: fixed;
    top: 104px;
    background-color: var(--primary);
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #a8a8a8;
    z-index: 10;
}
.diary__month {
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px calc(100% / 9) 10px;
    height: var(--datepicker-height);
    transition: height var(--anim-dura) ease;
}
.diary__month.diary__month_collapsed {
    height: 40px;
}

.diary__change-week-btn {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    background-color: transparent;
    padding: 5px 0;
    text-align: center;
    width: 32px;
    color: var(--primary);
}

.diary__weekdays {
    position: absolute;
    top: 12px;
    width: calc(100% * 7 / 9);
    left: calc(100% / 9);
    z-index: 11;
}
.diary__weekday {
    font-size: 12px;
    color: #787878;
    z-index: 10;
    transition: color var(--anim-dura) ease;
    padding: 5px 0;
}
.diary__month.diary__month_collapsed .diary__weekday_active {
    color: #cdcdcd;
}
.diary__month:not(.diary__month_collapsed) .diary__weekday {
    animation: weekday-appear calc(2 * var(--anim-dura)) ease 1;
}
@keyframes weekday-appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.diary__month.diary__month_collapsed .diary__weekday {
    animation: weekday-appear2 calc(2 * var(--anim-dura)) ease 1;
}
@keyframes weekday-appear2 {
    0% {
        opacity: 0;
    }
    33% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.datepicker {
    position: absolute;
    top: 35px;
    width: calc(100% * 7 / 9);
    left: calc(100% / 9);
    height: max-content;
    transition: top var(--anim-dura) ease;
}
.datepicker__day-wrapper {
    height: calc(100px / 3);
}
.diary__month::before {
    content: "";
    position: absolute;
    bottom: 53px;
    left: calc(100% / 9);
    width: calc(100% * 7 / 9);
    height: 200px;
    background-color: #fff;
    z-index: 11;
    opacity: 1;
    transition: bottom var(--anim-dura) ease, opacity var(--anim-dura) ease, z-index 0s ease 0s;
}
.diary__month:not(.diary__month_collapsed)::before {
    bottom: 100vh;
    opacity: 0;
    z-index: -1;
    transition: bottom var(--anim-dura) ease, opacity var(--anim-dura) ease, z-index 0s ease var(--anim-dura);
}
.diary__month::after {
    content: "";
    position: absolute;
    top: 55px;
    left: calc(100% / 9);
    width: calc(100% * 7 / 9);
    height: 200px;
    background-color: #fff;
    z-index: 11;
    opacity: 1;
    transition: top var(--anim-dura) ease, opacity var(--anim-dura) ease, z-index 0s ease 0s;
}
.diary__month:not(.diary__month_collapsed)::after {
    top: 100vh;
    opacity: 0;
    z-index: -1;
    transition: top var(--anim-dura) ease, opacity var(--anim-dura) ease, z-index 0s ease var(--anim-dura);
}

.diary__month.diary__month_collapsed .datepicker {
    top: calc(19px - var(--chosen-week) * 33.25px);
}
.datepicker_no-animation, .datepicker_no-animation .datepicker__day::before {
    transition: none !important;
}
.datepicker__day {
    font-size: 13px;
    color: #000;
    width: 32px;
    max-width: 32px;
    min-width: 32px;
    margin: 9px auto;
    padding: 4px 0;
    border-radius: 8px;
    position: relative;
    z-index: 10;
}
.datepicker__day::before {
    content: "";
    background-color: transparent;
    width: 100%;
    height: calc(100% + 16px);
    top: -16px;
    left: 0;
    border-radius: 8px;
    position: absolute;
    z-index: -1;
    transition: height var(--anim-dura) ease, top var(--anim-dura) ease;
}
.datepicker__day:not(.datepicker__day_active)::before {
    top: 0;
    height: 0;
}
.datepicker__day_active {
    color: #fff;
}
.datepicker__day_active::before {
    background-color: var(--primary);
}
.diary__month.diary__month_collapsed.diary__month_animate .datepicker__day:not(.datepicker__day_active) {
    animation: day-appear calc(2 * var(--anim-dura)) ease 1;
}
@keyframes day-appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.diary__month.diary__month_collapsed .datepicker__day_previous-month {
    opacity: 1;
    transition: opacity var(--anim-dura) ease;
}
.diary__month:not(.diary__month_collapsed) .datepicker__day_previous-month {
    opacity: 0;
    transition: opacity 0s ease;
}

.diary__month.diary__month_collapsed .datepicker__day_next-month {
    opacity: 1;
    transition: opacity var(--anim-dura) ease;
}
.diary__month:not(.diary__month_collapsed) .datepicker__day_next-month {
    opacity: 0;
    transition: opacity 0s ease;
}

.diary__month:not(.diary__month_collapsed) .datepicker__day_active::before {
    top: 0;
    height: 100%;
}

.diary__month .diary__datepicker-month {
    position: absolute;
    bottom: 10px;
    left: 50%;
    color: #787878;
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
    transition: opacity var(--anim-dura) ease, transform var(--anim-dura) ease .1s;
}
.diary__datepicker-year {
    position: absolute;
    bottom: 10px;
    right: 15px;
    color: #787878;
    opacity: 1;
    transform: scale(1);
    transition: opacity var(--anim-dura) ease, transform var(--anim-dura) ease .1s;
}
.diary__month.diary__month_collapsed .diary__datepicker-month{
    bottom: -100vh;
    opacity: 0;
    transform: translate(-50%, 0) scale(0);
}
.diary__month.diary__month_collapsed .diary__datepicker-year {
    bottom: -100vh;
    opacity: 0;
    transform: scale(0);
}
/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Блок Lessons                                          */
/*                                                                  */
/*                                                                  */
/*                                                                  */
.diary__lessons {
    margin-top: 114px;
    transition: margin-top var(--anim-dura) ease;
}
.diary__lessons_showndatepicker {
    margin-top: calc(114px - 40px + var(--datepicker-height));
    animation: lessons-margin var(--anim-dura) ease 1;
}
@keyframes lessons-margin {
    0% {
        margin-top: 114px;
    }
    25% {
        margin-top: 114px;
    }
    100% {
        margin-top: calc(114px - 40px + var(--datepicker-height));
    }
}
.diary__lessons-title {
    font-size: 12px;
    color: #787878;
    display: inline-block;
    position: relative;
    margin-left: 90px;
    padding: 12px 0;
    animation: lessons-title-appear calc(2 * var(--anim-dura)) ease 1;
}
@keyframes lessons-title-appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.diary__lessons-title::before {
    content: "";
    width: 3px;
    height: 30px;
    position: absolute;
    background-color: var(--primary);
    display: inline-block;
    left: -75px;
}
.lesson {
    animation: lesson-appear var(--anim-dura) ease 1;
}
@keyframes lesson-appear {
    0% {
        opacity: 0;
        margin-top: -30px;
    }
    100% {
        opacity: 1;
        margin-top: 0;
    }
}
.lesson:last-child {
    margin-bottom: 50px;
}
.lesson__timeline {
    width: 3px;
    background-color: var(--primary);
    display: block;
    margin-left: 15px;
    position: relative;
}
.lesson__timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    left: -7.5px;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 1;
}
.lesson__timeline::after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid var(--primary);
    top: 3.5px;
    left: -4px;
    background-color: #fff;
    z-index: 2;
}
.lesson__times {
    margin: 10px 0 25px;
    text-align: center;
}
.lesson__start {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
}
.lesson__end {
    margin: 0 10px;
    color: #787878;
    font-size: 12px;
    font-weight: 600;
}
.lesson__number {
    font-size: 40px;
    color: #787878;
    margin: auto 0;
    position: sticky;
    top: 170px;
    padding: 10px 0;
}

/*                                                                  */
/*                                                                  */
/*                                                                  */
/*            Карточки уроков                                       */
/*                                                                  */
/*                                                                  */
/*                                                                  */
.lesson__card {
    background-color: #e9f0f5;
    margin: 0 10px 20px 0;
    padding: 15px;
    border-radius: 10px;
    font-size: 14px;
    width: calc(100vw - 115px);
}

.lesson__title {
    font-weight: 600;
}
.lesson__mark-wrapper:not(:empty) {
    height: 65px;
    width: 92px;
    min-width: 92px;
    margin: -15px -15px 0 0;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 600;
}
.lesson__mark {
    font-size: 23px;
    padding: 9px 0 2px;
}

.lesson__number-room {
    margin-top: 10px;
    white-space: nowrap;
}
.lesson__kind {
    margin: 10px 0 0 10px;
    color: #787878;
}

.lesson__videoconf {
    margin-top: 15px;
    color: #0687b1;
    width: max-content;
    /* padding: 3px 10px; */
    /* border-radius: 5px; */
    /* border: 1px solid #0687b1; */
}

.lesson__stages:not(:empty) {
    margin-top: 10px;
    white-space: break-spaces;
    line-height: 1.5;
}
.lesson__stages:not(:empty)::before {
    content: "Этапы урока:";
    color: #787878;
    display: block;
    font-style: italic;
}

.lesson__homework:not(:empty) {
    margin-top: 15px;
    white-space: break-spaces;
    line-height: 1.5;
}
.lesson__homework:not(:empty)::before {
    content: "Домашнее задание:";
    color: #787878;
    display: block;
    font-style: italic;
}
.lesson__stages:not(:empty) + .lesson__homework:not(:empty)::before {
    border-top: 1px solid #a5a5a5;
    padding-top: 7px;
}

.lesson__yaklass {
    margin-top: 10px;
    color: #0687b1;
}
